.navbar {
    width: 90%;
    margin: 0px auto;
    display: flex;
    padding: 25px 5px 25px 5px;
    justify-content: start;
    align-items: center;
    background-color: #ff9900;
    margin-top: 8px;
    border-radius: 5px;
}

a {
    text-decoration: none !important;
    color: #ffffff;
    margin-left: 15px;
}

body{
    background-color: rgb(240, 243, 245);
}

div {
    width: 90%;
    margin:auto auto auto auto;
}

.form-div {
    margin-top: 20vh;
    width: 50%;
}

form {
    height: 330px;
    /* border: 1px solid red; */
    position: relative;
    padding: 40px 20px 40px 20px;
    transition: transform 0.2s ease-in;
}

form:hover {
    box-shadow: 2px 2px 15px rgb(172, 172, 180);
    transform: translateY(-15px);
    background-color: #fff;
    border-radius: 5px;
}

.form-div tr td:first-child {
    width: 30%;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    /* border: 1px solid green; */
}

.submit-button {
    width: 60%;
    border: none;
    background-color: #ff9900;
    box-shadow: 0 4px 4px rgba(0,0,0,.08);
    color: white;
    padding: 8px 18px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    right: 20%;
    left: 20%;
    bottom: 25px;
}

footer {
    color: #000000;
    position: fixed;
    bottom: 18px;
    margin-left: 50px;
}

table {
    width: 100%;
    margin-top: 30px;
}

thead {
    border-bottom: 1px solid #ccc;
}

thead th {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    width: 25%;
}