.navbar {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #342b60;
    margin-top: 8px;
    border-radius: 5px;
}

a {
    text-decoration: none !important;
    color: #ffffff;
}

body{
    background-color: rgb(240, 243, 245);
}

div {
    width: 90%;
    margin:auto auto auto auto;
}

.form-div {
    margin-top: 20vh;
    width: 50%;
}

form {
    height: 300px;
    /* border: 1px solid red; */
    position: relative;
}

.form-div tr td:first-child {
    width: 30%;
    /* border: 1px solid green; */
}

.submit-button {
    width: 60%;
    border: none;
    background-image: linear-gradient(90deg, #342b60 35%, #e4067e 100%);
    box-shadow: 0 4px 4px rgba(0,0,0,.08);
    color: white;
    padding: 8px 18px;
    border-radius: 5px;
    font-weight: 700;
    position: absolute;
    right: 20%;
    left: 20%;
    bottom: 0px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #342b60;
    color: #ffffff;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    position: fixed;
    bottom: 18px;
    left: 5%;
    right: 5%;
}

table {
    width: 100%;
    margin-top: 30px;
}

thead {
    border-bottom: 5px solid #342b60;
}

thead th {
    font-size: 25px;
    font-weight: 500;
    color: #342b60;
    width: 25%;
}